[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
ipython = "*"
jedi = "*"
neovim = "*"
tables = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
